---
import { Icon } from 'astro-icon'
import Button from './Button.astro'


const data = [
   {
      icon: 'icon-facebook',
      alt: 'facebook',
      url: 'www.facebook.com'
   },
   {
      icon: 'icon-youtube',
      alt: 'youtube',
      url: 'www.youtube.com'
   },
   {
      icon: 'icon-twitter',
      alt: 'twitter',
      url: 'www.twitter.com'
   },
   {
      icon: 'icon-pinterest',
      alt: 'pinterest',
      url: 'www.pinterest.com'
   },
   {
      icon: 'icon-instagram',
      alt: 'instagram',
      url: 'www.instagram.com'
   },
]

const listOne = [
   {
      name: 'About Us',
      url: '#'
   },
   {
      name: 'Contact',
      url: '#'
   },
   {
      name: 'Blog',
      url: '#',
   },

]

const listTwo = [
   {
      name: 'Careers',
      url: '#'
   },
   {
      name: 'Support',
      url: '#'
   },
   {
      name: 'Privacy Policy',
      url: '#'
   },
]


---

<footer>
   <div>
      <div class="move-icon">
         <Icon name='logo' class='logo' width={139} />
      </div>
      <div class="icons">
         {data.map(item=>(
         <a href={item.url}>
            <Icon name={item.icon} width={24} alt={item.alt} class='icon-item' />
         </a>
         ))}
      </div>
   </div>
   <nav>
      <ul class="list-one">
         {listOne.map(item=>(
         <li>
            <a href={item.url}>{item.name}</a>
         </li>

         ))}
      </ul>
      <ul class="list-two">
         {listTwo.map(item=>(
         <li>
            <a href={item.url}>{item.name}</a>
         </li>

         ))}
      </ul>
   </nav>
   
   <div>
      <Button/>
      <p>© Easybank. All Rights Reserved</p>
   </div>
</footer>
<style lang="css">
   footer {
      display: grid;
      grid-template-columns: 1fr;
      gap: 32px;
      text-align: center;
      background-color: var(--dark-blue);
      padding: 40px 75px;
   }

   a{
      font-weight: var(--fw-regular);
      font-size: var(--fs-100);
      line-height: var(--fh-700);
      letter-spacing: var(--fls-100);
      color: var(--white);
   }
   a:hover{
      color: var(--lime-green);
   }

   p{
      font-weight: var(--fw-regular);
      font-size: var(--fs-100);
      line-height: var(--fh-700);
      letter-spacing: var(--fls-100);
      margin-top: 24px;
   }

   .logo{
      fill: var(--white);
   }
   
   .move-icon{
      margin-bottom: 32px;
      display: flex;
      justify-content: center;
   }

   .icons{
      display: flex;
      justify-content: center;
      gap: 10px;
   }
  
   .icon-item{
      fill: var(--white);

   }

   .icon-item:hover{
      fill: var(--lime-green);
   }

   

   
</style>